@import "tailwindcss";

* {
  box-sizing: border-box;
  scrollbar-width: none;
  scroll-behavior: smooth;
}

@theme inline {
  --color-background: #f6f6f6;
  --color-black: #020304;
  --color-white: #ffffff;
  --color-darlcyan: #1693a5;
  --color-cyan: #45b5c4;
}

body {
  max-width: 100%;
}