@import "tailwindcss";

* {
  box-sizing: border-box;
  scrollbar-width: none;
  scroll-behavior: smooth;
}

@theme inline {
  --colorbackground: #f6f6f6;
  --colorblack: #020304;
  --colorwhite: #ffffff;
  --colordarlcyan: #1693a5;
  --colorcyan: #45b5c4;
}

body {
  max-width: 100%;
}